<ul class="list-group">
	
</ul>

<table class="table">
	<thead>
		<tr>
			{{!-- <th></th> --}}
			<th>Message</th>
			<th>From</th>
			<th>When</th>
			<th>Handling</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |req|}}
			{{patient-request req=req handled="handle" completed="complete" released="release" target=view}}
		{{/each}}
	</tbody>
</table>