<div class="text-center">
	<button class="btn btn-default" {{action "createRequest" "red" on="click"}}>Red</button>
	<button class="btn btn-default" {{action "createRequest" "blue" on="click"}}>Blue</button>
	<button class="btn btn-default" {{action "createRequest" "green" on="click"}}>Green</button>
</div>